In [2]:
!apt-get install default-jre
!java -version
!pip install h2o

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 13 not upgraded.
openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04)
OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
Collecting h2o
  Downloading https://files.pythonhosted.org/packages/d4/d4/5c07504a392e94786e7cf33554d961ac4b2863aa22a07b8579940ea1f6b5/h2o-3.32.0.4.tar.gz (164.6MB)
     |████████████████████████████████| 164.6MB 76kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.8)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.32.0.4-py2.py3-none-any.whl size=164670979 sha256=af0dda799a5dbff9da6a99761eea9ea59a19eeff015afa1189d197b3c1cf6b02
  Stored in directory: /root/.cache/pip/wheels/65/f4/0d/c9bb958d70c2e015c968cb91cbd7f1b486933056d422337d75
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.4 h2o-3.32.0.4

In [3]:
import pandas as pd
import numpy as np 
import spacy 

from spacy.lang.en.stop_words import STOP_WORDS as stopwords
import re
from textblob import TextBlob

from wordcloud import WordCloud 
import matplotlib.pyplot as plt 
%matplotlib inline

import xgboost as xgb
from sklearn.metrics import classification_report, confusion_matrix

import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.10" 2021-01-19; OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04); OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp4j5d0smw
  JVM stdout: /tmp/tmp4j5d0smw/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp4j5d0smw/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.4
H2O_cluster_version_age:    23 days
H2O_cluster_name:           H2O_from_python_unknownUser_ea4otr
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.180 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.10 final
--------------------------  ------------------------------------------------------------------

In [4]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

Loading Data

In [5]:
data = pd.read_excel('/content/drive/MyDrive/DataSets/QLC /Data1.xlsx',nrows=50000)
data = data.dropna()
data.head()

   Unnamed: 0  ...                                ActivityDescription
0           0  ...  #ProformaInvoice\r\nDear Sir,\r\n\r\nThanks fo...
1           1  ...  #Emailed\r\nDear Sir,\r\n\r\nPlease find revis...
2           2  ...  #Proposal\r\n\r\nDear Ma'am,\r\n\r\nGreetings ...
3           3  ...  #Proposal\r\n\r\nDear Ma'am,\r\n\r\nGreetings ...
4           4  ...  #Follow up\r\n\r\nCalled on landline number\r\...

[5 rows x 4 columns]

Converting it to Dictionary

In [6]:
#convert to dictionary
cov_dic = {'OpportunityId': str,
           'OpportunityStageName': str,
           'ActivityDescription': str}
df= data.astype(cov_dic)
df=df.drop(columns=['Unnamed: 0'])
df.head()

                          OpportunityId  ...                                ActivityDescription
0  0006255A-A476-4DEF-9C67-0E4B0A83ACD0  ...  #ProformaInvoice\r\nDear Sir,\r\n\r\nThanks fo...
1  0006255A-A476-4DEF-9C67-0E4B0A83ACD0  ...  #Emailed\r\nDear Sir,\r\n\r\nPlease find revis...
2  000992B7-C04E-464A-A010-A2F3F9DCEF8B  ...  #Proposal\r\n\r\nDear Ma'am,\r\n\r\nGreetings ...
3  000992B7-C04E-464A-A010-A2F3F9DCEF8B  ...  #Proposal\r\n\r\nDear Ma'am,\r\n\r\nGreetings ...
4  000992B7-C04E-464A-A010-A2F3F9DCEF8B  ...  #Follow up\r\n\r\nCalled on landline number\r\...

[5 rows x 3 columns]

Upper case Count

In [7]:
df['upper_count'] = df['ActivityDescription'].apply(lambda x: len([t for t in x.split() if t.isupper()]))

In [8]:
# Lower case
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x:str(x).lower())

#removing '-' in id
df['OpportunityId'] = df['OpportunityId'].apply(lambda x: str(x).replace('-', ''))

#removing '/r' and '/n
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x: str(x).replace('\r', ' '))
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x: str(x).replace('\r\n', ' '))
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x: str(x).replace('\n', ' '))

#count and remove URLS
df['URLs_count'] = df['ActivityDescription'].apply(lambda x: len(re.findall(r'(http|https|ftp|ssh|www)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^+%&/~+#-])?',str(x))))
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x: re.sub(r'(http|https|ftp|ssh|www)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^+%&/~+#-])?','',str(x)))
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x: re.sub('(?:\s)www[^, ]*', '', str(x)))

#remove single letters
df['ActivityDescription'] = df.ActivityDescription.str.replace(r'\b\w\b', '').str.replace(r'\s+', ' ')
# remove all numbers
df['ActivityDescription'] = df.ActivityDescription.str.replace('\d+', '')

df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x: re.sub(r'[^\w ]+',"",x)) #removing special characters
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x: ' '.join(x.split())) #removing double spaces

#counting hashtags
df['hash_count'] = df['ActivityDescription'].apply(lambda x : re.findall(r'(#[Aa])', x))
df['hash_count'] =df['hash_count'].apply(lambda x : len(x))

#count email
df['e_count'] = df['ActivityDescription'].apply(lambda x : re.findall(r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+",x))
df['e_count'] = df['e_count'].apply(lambda x:len(x))
#remove email 
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x: re.sub("[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+","",str(x)))

#stop word count
df['sw_count']= df['ActivityDescription'].apply(lambda x: len([t for t in x.split() if t in stopwords]))
# removing stop words
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x : ' '.join([t for t in x.split() if t not in stopwords]))

In [9]:
df['URLs_count'].value_counts()

0    49547
2      149
1      105
4       82
3       73
7        3
8        2
Name: URLs_count, dtype: int64

In [10]:
#removing top 20 frequet words
text = ' '.join(df['ActivityDescription'])
text = text.split()
freq_comm = pd.Series(text).value_counts()
f20 = freq_comm[:20]
f20

df['ActivityDescription']= df['ActivityDescription'].apply(lambda x : ' '.join([t for t in x.split() if t not in f20]))

In [11]:
#Label encoding target variable
# Import label encoder 
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['OpportunityStageName']= label_encoder.fit_transform(df['OpportunityStageName'])

In [12]:
#tokenization
from nltk.tokenize import sent_tokenize, word_tokenize 
#df['ActivityDescription']= df['ActivityDescription'].apply(lambda x: [word for word in word_tokenize(x)])
#word_tokenize(text)
df['ActivityDescription']= df['ActivityDescription'].apply(word_tokenize)

In [17]:
stemmer = nltk.stem.SnowballStemmer('english')
def tokenize(text):
   tokens = text
   stems = [stemmer.stem(item) for item in tokens if (item not in stopwords)]
   return stems

In [18]:
df['ActivityDescription'] = df['ActivityDescription'].apply(lambda x : tokenize(x))

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(df, test_size=0.2, random_state=111)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer_tf = TfidfVectorizer(tokenizer=tokenize, stop_words=None, max_df=0.75, max_features=1000, lowercase=False, ngram_range=(1,2))
train_vectors = vectorizer_tf.fit_transform(X_train.ActivityDescription)

In [21]:
test_vectors = vectorizer_tf.transform(X_test.ActivityDescription)

In [22]:
train_vectors

<39968x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 503665 stored elements in Compressed Sparse Row format>

In [23]:
vectorizer_tf.get_feature_names

<bound method CountVectorizer.get_feature_names of TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=False, max_df=0.75,
                max_features=1000, min_df=1, ngram_range=(1, 2), norm='l2',
                preprocessor=None, smooth_idf=True, stop_words=None,
                strip_accents=None, sublinear_tf=False,
                token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=<function tokenize at 0x7f47a2981ef0>, use_idf=True,
                vocabulary=None)>

In [24]:
X_train.head()

                          OpportunityId  ...  sw_count
45307  393AC61F59394E8BB75B04A25ADCBAD4  ...         7
3558   04B567D3854046C18B0950E86DA6E1DD  ...         8
6149   08344F755506469DA1EB6A25224014C3  ...         6
12090  0F3935C85BF94798886834E07C3A8EE2  ...         4
5487   07568ED723C34C5BA986CD1D04C1AB16  ...         4

[5 rows x 8 columns]

In [25]:
train_df=pd.DataFrame(train_vectors.toarray(), columns=vectorizer_tf.get_feature_names())
train_df=pd.concat([train_df,X_train['OpportunityStageName'].reset_index(drop=True)], axis=1)
train_df=pd.concat([train_df,X_train[['upper_count','hash_count','e_count','sw_count']].reset_index(drop=True)], axis=1)
train_df

       aaacqn  aaacqn id  aaacqn servic  ...  hash_count  e_count  sw_count
0         0.0        0.0            0.0  ...           0        0         7
1         0.0        0.0            0.0  ...           0        0         8
2         0.0        0.0            0.0  ...           0        0         6
3         0.0        0.0            0.0  ...           0        0         4
4         0.0        0.0            0.0  ...           0        0         4
...       ...        ...            ...  ...         ...      ...       ...
39963     0.0        0.0            0.0  ...           0        0        12
39964     0.0        0.0            0.0  ...           0        0         0
39965     0.0        0.0            0.0  ...           0        0        10
39966     0.0        0.0            0.0  ...           0        0         0
39967     0.0        0.0            0.0  ...           0        0        27

[39968 rows x 1005 columns]

In [26]:
test_df=pd.DataFrame(test_vectors.toarray(), columns=vectorizer_tf.get_feature_names())
test_df=pd.concat([test_df,X_test['OpportunityStageName'].reset_index(drop=True)], axis=1)
test_df=pd.concat([test_df,X_test[['upper_count','hash_count','e_count','sw_count']].reset_index(drop=True)], axis=1)
test_df

      aaacqn  aaacqn id  aaacqn servic  ...  hash_count  e_count  sw_count
0        0.0        0.0            0.0  ...           0        0         4
1        0.0        0.0            0.0  ...           0        0         2
2        0.0        0.0            0.0  ...           0        0         6
3        0.0        0.0            0.0  ...           0        0        21
4        0.0        0.0            0.0  ...           0        0         5
...      ...        ...            ...  ...         ...      ...       ...
9988     0.0        0.0            0.0  ...           0        0         1
9989     0.0        0.0            0.0  ...           0        0        39
9990     0.0        0.0            0.0  ...           0        0        11
9991     0.0        0.0            0.0  ...           0        0        23
9992     0.0        0.0            0.0  ...           0        0        14

[9993 rows x 1005 columns]

## Implementing H2o for model selection

In [27]:
h2o_train_df = h2o.H2OFrame(train_df)
h2o_test_df = h2o.H2OFrame(test_df)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [28]:
h2o_train_df.types

{'aaacqn': 'real',
 'aaacqn id': 'real',
 'aaacqn servic': 'real',
 'abhishek': 'real',
 'abl': 'real',
 'accept': 'real',
 'access': 'real',
 'accord': 'real',
 'account': 'real',
 'account branch': 'real',
 'account ifsc': 'real',
 'account quantumlink': 'real',
 'account run': 'real',
 'accountsreceivableqlcin': 'real',
 'accountsreceivableqlcin note': 'real',
 'activ': 'real',
 'ad': 'real',
 'ad contact': 'real',
 'ad slam': 'real',
 'add': 'real',
 'addit': 'real',
 'addit year': 'real',
 'address': 'real',
 'address sandoz': 'real',
 'address st': 'real',
 'admin': 'real',
 'advanc': 'real',
 'advanc send': 'real',
 'advic': 'real',
 'agr': 'real',
 'ahead': 'real',
 'akshada': 'real',
 'akshada gaikwad': 'real',
 'ambassador': 'real',
 'ambassador hotelmodel': 'real',
 'amc': 'real',
 'amc plan': 'real',
 'amc pme': 'real',
 'amc renew': 'real',
 'amit': 'real',
 'andheri': 'real',
 'andheri east': 'real',
 'annual': 'real',
 'annual mainten': 'real',
 'answer': 'real',
 'antispam': 'real',
 'antivirus': 'real',
 'ap': 'real',
 'app': 'real',
 'applic': 'real',
 'applic increa': 'real',
 'applic term': 'real',
 'appoint': 'real',
 'approv': 'real',
 'approv rai': 'real',
 'april': 'real',
 'archiv': 'real',
 'arrang': 'real',
 'arrang onlin': 'real',
 'arrang tomorrow': 'real',
 'asap': 'real',
 'ask': 'real',
 'ask share': 'real',
 'assist': 'real',
 'assist requir': 'real',
 'attach': 'real',
 'attach herewith': 'real',
 'attach present': 'real',
 'attach proforma': 'real',
 'attach revi': 'real',
 'attend': 'real',
 'aug': 'real',
 'avail': 'real',
 'avail offic': 'real',
 'await': 'real',
 'await confirm': 'real',
 'await posit': 'real',
 'await prompt': 'real',
 'await respon': 'real',
 'balanc': 'real',
 'bangalor': 'real',
 'bangalor phone': 'real',
 'bank': 'real',
 'bank andheri': 'real',
 'bank detail': 'real',
 'bank hdfc': 'real',
 'bank ltd': 'real',
 'base': 'real',
 'basi': 'real',
 'benefit': 'real',
 'best': 'real',
 'best offer': 'real',
 'best prachi': 'real',
 'bidw': 'real',
 'bill': 'real',
 'bill date': 'real',
 'boss': 'real',
 'branch': 'real',
 'branch address': 'real',
 'brochur': 'real',
 'busi': 'real',
 'busi meet': 'real',
 'cal': 'real',
 'callback': 'real',
 'cant': 'real',
 'care': 'real',
 'case': 'real',
 'case queri': 'real',
 'certif': 'real',
 'certif registr': 'real',
 'chang': 'real',
 'channel': 'real',
 'channel quickscan': 'real',
 'charg': 'real',
 'chat': 'real',
 'check': 'real',
 'check revert': 'real',
 'chequ': 'real',
 'chequ certif': 'real',
 'chequ favor': 'real',
 'chirag': 'real',
 'chowdhari': 'real',
 'chowdhari qlc': 'real',
 'client': 'real',
 'close': 'real',
 'closeddead': 'real',
 'closeddead time': 'real',
 'code': 'real',
 'code hdfc': 'real',
 'colleagu': 'real',
 'collect': 'real',
 'coloni': 'real',
 'come': 'real',
 'commerci': 'real',
 'commerci discuss': 'real',
 'communic': 'real',
 'communic pvt': 'real',
 'communic thank': 'real',
 'compani': 'real',
 'complet': 'real',
 'complex': 'real',
 'complex suren': 'real',
 'concern': 'real',
 'concern hesit': 'real',
 'concern person': 'real',
 'condit': 'real',
 'confirm': 'real',
 'confirm amc': 'real',
 'confirm earliest': 'real',
 'confirm find': 'real',
 'confirm help': 'real',
 'confirm initi': 'real',
 'confirm licen': 'real',
 'confirm process': 'real',
 'connect': 'real',
 'consid': 'real',
 'contact': 'real',
 'contact couldn': 'real',
 'contact detail': 'real',
 'contact direct': 'real',
 'contact slam': 'real',
 'contact write': 'real',
 'continu': 'real',
 'contract': 'real',
 'contract period': 'real',
 'control': 'real',
 'conveni': 'real',
 'conveni time': 'real',
 'convinc': 'real',
 'copi': 'real',
 'copi chequ': 'real',
 'cost': 'real',
 'couldn': 'real',
 'couldn await': 'real',
 'count': 'real',
 'courier': 'real',
 'courier chequ': 'real',
 'covid': 'real',
 'creat': 'real',
 'creat panel': 'real',
 'creat slam': 'real',
 'crm': 'real',
 'current': 'real',
 'custom': 'real',
 'custom care': 'real',
 'data': 'real',
 'data transfer': 'real',
 'date': 'real',
 'date branch': 'real',
 'day': 'real',
 'deal': 'real',
 'dec': 'real',
 'deci': 'real',
 'decid': 'real',
 'deepak': 'real',
 'delhi': 'real',
 'delight': 'real',
 'delight servic': 'real',
 'deposit': 'real',
 'deposit favor': 'real',
 'design': 'real',
 'detail': 'real',
 'detail account': 'real',
 'detail bank': 'real',
 'detail deposit': 'real',
 'detail intim': 'real',
 'develop': 'real',
 'didn': 'real',
 'differ': 'real',
 'direct': 'real',
 'direct follow': 'real',
 'director': 'real',
 'disconnect': 'real',
 'discount': 'real',
 'discuss': 'real',
 'discuss colleagu': 'real',
 'discuss commerci': 'real',
 'discuss find': 'real',
 'discuss intern': 'real',
 'diss': 'real',
 'document': 'real',
 'domain': 'real',
 'don': 'real',
 'dont': 'real',
 'dont requir': 'real',
 'download': 'real',
 'dr': 'real',
 'dr road': 'real',
 'drop': 'real',
 'drop messag': 'real',
 'drop msg': 'real',
 'ear': 'real',
 'ear respon': 'real',
 'earlier': 'real',
 'earliest': 'real',
 'earliest respon': 'real',
 'east': 'real',
 'east account': 'real',
 'east mumbai': 'real',
 'ekta': 'real',
 'ekta kumari': 'real',
 'email': 'real',
 'employ': 'real',
 'enabl': 'real',
 'end': 'real',
 'engin': 'real',
 'enhanc': 'real',
 'enjoy': 'real',
 'enterpri': 'real',
 'entri': 'real',
 'entri ad': 'real',
 'entri client': 'real',
 'eod': 'real',
 'eval': 'real',
 'evalu': 'real',
 'expect': 'real',
 'expen': 'real',
 'expir': 'real',
 'expiri': 'real',
 'explain': 'real',
 'ext': 'real',
 'ext salesnorthqlcin': 'real',
 'extend': 'real',
 'extra': 'real',
 'extra gst': 'real',
 'face': 'real',
 'face issu': 'real',
 'facil': 'real',
 'facil sequel': 'real',
 'favor': 'real',
 'favor quantumlink': 'real',
 'favour': 'real',
 'feasibl': 'real',
 'featur': 'real',
 'featur guid': 'real',
 'feb': 'real',
 'feedback': 'real',
 'feel': 'real',
 'feel free': 'real',
 'fg': 'real',
 'field': 'real',
 'field forc': 'real',
 'field sale': 'real',
 'field staff': 'real',
 'file': 'real',
 'fill': 'real',
 'final': 'real',
 'finali': 'real',
 'financ': 'real',
 'find': 'real',
 'find attach': 'real',
 'find qlc': 'real',
 'fine': 'real',
 'firstcontactestablish': 'real',
 'fix': 'real',
 'floor': 'real',
 'floor shirol': 'real',
 'follow': 'real',
 'follow inform': 'real',
 'forc': 'real',
 'forc oper': 'real',
 'forc product': 'real',
 'form': 'real',
 'form help': 'real',
 'format': 'real',
 'forward': 'real',
 'forward ear': 'real',
 'forward earliest': 'real',
 'forward messag': 'real',
 'forward serv': 'real',
 'forward valuabl': 'real',
 'fpr': 'real',
 'free': 'real',
 'free case': 'real',
 'free year': 'real',
 'friday': 'real',
 'fscall': 'real',
 'fscall requir': 'real',
 'fscall respond': 'real',
 'fund': 'real',
 'fund neft': 'real',
 'futur': 'real',
 'gaikwad': 'real',
 'gaikwad insid': 'real',
 'gaikwad qlc': 'real',
 'gave': 'real',
 'gb': 'real',
 'generat': 'real',
 'generat receipt': 'real',
 'given': 'real',
 'given offer': 'real',
 'gone': 'real',
 'good': 'real',
 'good servic': 'real',
 'got': 'real',
 'greet': 'real',
 'greet qlc': 'real',
 'greet quantum': 'real',
 'group': 'real',
 'gst': 'real',
 'gst detail': 'real',
 'gst mention': 'real',
 'gst pan': 'real',
 'guid': 'real',
 'gupta': 'real',
 'half': 'real',
 'happi': 'real',
 'happi help': 'real',
 'hdfc': 'real',
 'hdfc bank': 'real',
 'hdfc pan': 'real',
 'hdfc queri': 'real',
 'head': 'real',
 'hello': 'real',
 'help': 'real',
 'help process': 'real',
 'help repli': 'real',
 'help videoguid': 'real',
 'herewith': 'real',
 'herewith pdf': 'real',
 'herewith scan': 'real',
 'hesit': 'real',
 'hesit touch': 'real',
 'hi': 'real',
 'hi team': 'real',
 'high': 'real',
 'hold': 'real',
 'home': 'real',
 'hope': 'real',
 'host': 'real',
 'host servic': 'real',
 'hotelmodel': 'real',
 'hotelmodel coloni': 'real',
 'hour': 'real',
 'hous': 'real',
 'hous dr': 'real',
 'hous near': 'real',
 'hr': 'real',
 'id': 'real',
 'id salesmumbaiqlcin': 'real',
 'id supportqlcin': 'real',
 'identifi': 'real',
 'ifsc': 'real',
 'ifsc code': 'real',
 'ifsc hdfc': 'real',
 'ii': 'real',
 'iii': 'real',
 'iiimr': 'real',
 'iiimr id': 'real',
 'immedi': 'real',
 'implement': 'real',
 'includ': 'real',
 'incom': 'real',
 'incomingc': 'real',
 'increa': 'real',
 'increa field': 'real',
 'india': 'real',
 'india pvt': 'real',
 'india rtgsneft': 'real',
 'industri': 'real',
 'inform': 'real',
 'inform tech': 'real',
 'initi': 'real',
 'initi renew': 'real',
 'insid': 'real',
 'insid sale': 'real',
 'instal': 'real',
 'instruct': 'real',
 'integr': 'real',
 'interest': 'real',
 'interest applic': 'real',
 'intern': 'real',
 'internalcoordin': 'real',
 'internalcoordin team': 'real',
 'internet': 'real',
 'intim': 'real',
 'intim feel': 'real',
 'invoic': 'real',
 'invoic advanc': 'real',
 'invoic bank': 'real',
 'invoic generat': 'real',
 'invoic issu': 'real',
 'invoic process': 'real',
 'invoic rai': 'real',
 'invoic refer': 'real',
 'invoic request': 'real',
 'issu': 'real',
 'item': 'real',
 'jan': 'real',
 'jayashri': 'real',
 'jayashri phulor': 'real',
 'join': 'real',
 'joshi': 'real',
 'juli': 'real',
 'june': 'real',
 'k': 'real',
 'karishma': 'real',
 'kept': 'real',
 'kept ring': 'real',
 'kind': 'real',
 'kind remind': 'real',
 'know': 'real',
 'know conveni': 'real',
 'know status': 'real',
 'kumar': 'real',
 'kumari': 'real',
 'kumari qlc': 'real',
 'lasunkut': 'real',
 'later': 'real',
 'lead': 'real',
 'leav': 'real',
 'left': 'real',
 'let': 'real',
 'let know': 'real',
 'licen': 'real',
 'licen form': 'real',
 'like': 'real',
 'limit': 'real',
 'line': 'real',
 'line busi': 'real',
 'link': 'real',
 'link communic': 'real',
 'list': 'real',
 'live': 'real',
 'live monitor': 'real',
 'locat': 'real',
 'lockdown': 'real',
 'login': 'real',
 'login detail': 'real',
 'look': 'real',
 'look forward': 'real',
 'ltd': 'real',
 'ltd account': 'real',
 'ltd address': 'real',
 'ltd bank': 'real',
 'ltd chequ': 'real',
 'ltd mention': 'real',
 'ltd pune': 'real',
 'ltd shreepal': 'real',
 'madam': 'real',
 'maharashtra': 'real',
 'maharashtra india': 'real',
 'mail': 'real',
 'maildirect': 'real',
 'mailhost': 'real',
 'mailhost servic': 'real',
 'mailserv': 'real',
 'mailvault': 'real',
 'mainten': 'real',
 'mainten charg': 'real',
 'mam': 'real',
 'manag': 'real',
 'manag facil': 'real',
 'manish': 'real',
 'manjula': 'real',
 'manjula insid': 'real',
 'manjula qlc': 'real',
 'mar': 'real',
 'march': 'real',
 'margin': 'real',
 'mark': 'real',
 'market': 'real',
 'mayuri': 'real',
 'md': 'real',
 'meet': 'real',
 'meet discuss': 'real',
 'member': 'real',
 'mention': 'real',
 'mention address': 'real',
 'mention price': 'real',
 'messag': 'real',
 'messag subject': 'real',
 'met': 'real',
 'mgmt': 'real',
 'min': 'real',
 'mobil': 'real',
 'mobil app': 'real',
 'modul': 'real',
 'moment': 'real',
 'momina': 'real',
 'momina shaikh': 'real',
 'monday': 'real',
 'monitor': 'real',
 'monitor manag': 'real',
 'month': 'real',
 'morn': 'real',
 'ms': 'real',
 'msg': 'real',
 'msr': 'real',
 'multipl': 'real',
 'multipl time': 'real',
 'mumbai': 'real',
 'mumbai maharashtra': 'real',
 'mumbai tel': 'real',
 'mumbai visit': 'real',
 'mv': 'real',
 'naina': 'real',
 'naina chowdhari': 'real',
 'nd': 'real',
 'nda': 'real',
 'near': 'real',
 'near ambassador': 'real',
 'need': 'real',
 'need approv': 'real',
 'need question': 'real',
 'neft': 'real',
 'neft bank': 'real',
 'new': 'real',
 'new entri': 'real',
 'new slam': 'real',
 'nitin': 'real',
 'norespon': 'real',
 'note': 'real',
 'note find': 'real',
 'note given': 'real',
 'note invoic': 'real',
 'notinterest': 'real',
 'notrespond': 'real',
 'notrespond client': 'real',
 'notrespond email': 'real',
 'notrespond number': 'real',
 'notrespond respon': 'real',
 'notrespond ring': 'real',
 'nov': 'real',
 'nt': 'real',
 'nt attend': 'real',
 'number': 'real',
 'number busi': 'real',
 'oct': 'real',
 'offer': 'real',
 'offer valid': 'real',
 'offic': 'real',
 'ok': 'real',
 'old': 'real',
 'old contract': 'real',
 'onlin': 'real',
 'onlin custom': 'real',
 'onsit': 'real',
 'oper': 'real',
 'oper enjoy': 'real',
 'option': 'real',
 'orderfollowup': 'real',
 'organ': 'real',
 'ot': 'real',
 'outset': 'real',
 'outset thank': 'real',
 'pan': 'real',
 'pan aaacqn': 'real',
 'panel': 'real',
 'parida': 'real',
 'partner': 'real',
 'password': 'real',
 'patil': 'real',
 'pay': 'real',
 'pdf': 'real',
 'pdf format': 'real',
 'pend': 'real',
 'period': 'real',
 'period amc': 'real',
 'period year': 'real',
 'person': 'real',
 'phone': 'real',
 'phone kept': 'real',
 'phone number': 'real',
 'phulor': 'real',
 'pi': 'real',
 'pick': 'real',
 'pitch': 'real',
 'place': 'real',
 'plan': 'real',
 'plan year': 'real',
 'pm': 'real',
 'pme': 'real',
 'pme ms': 'real',
 'pme ver': 'real',
 'pme word': 'real',
 'pmev': 'real',
 'po': 'real',
 'point': 'real',
 'polici': 'real',
 'pooja': 'real',
 'pooja lasunkut': 'real',
 'posit': 'real',
 'posit respon': 'real',
 'possibl': 'real',
 'post': 'real',
 'postmast': 'real',
 'postmast enterpri': 'real',
 'prachi': 'real',
 'prachi bidw': 'real',
 'prajapati': 'real',
 'pratima': 'real',
 'pratima shahi': 'real',
 'praveen': 'real',
 'premium': 'real',
 'present': 'real',
 'present refer': 'real',
 'present streamlin': 'real',
 'present video': 'real',
 'previous': 'real',
 'previous contract': 'real',
 'price': 'real',
 'proceed': 'real',
 'proceed ahead': 'real',
 'process': 'real',
 'process await': 'real',
 'process invoic': 'real',
 'process queri': 'real',
 'process tax': 'real',
 'process work': 'real',
 'product': 'real',
 'product live': 'real',
 'proforma': 'real',
 'proforma invoic': 'real',
 'project': 'real',
 'prompt': 'real',
 'prompt respon': 'real',
 'proper': 'real',
 'propos': 'real',
 'provid': 'real',
 'provid gst': 'real',
 'pune': 'real',
 'pune invoic': 'real',
 'purcha': 'real',
 'purpo': 'real',
 'pvt': 'real',
 'pvt ltd': 'real',
 'qlc': 'real',
 'qlc bank': 'real',
 'qlc custom': 'real',
 'qlc discuss': 'real',
 'qlc find': 'real',
 'qlc insid': 'real',
 'qlc refer': 'real',
 'qlc sale': 'real',
 'qlc thank': 'real',
 'quantum': 'real',
 'quantum link': 'real',
 'quantumlink': 'real',
 'quantumlink communic': 'real',
 'quarter': 'real',
 'queri': 'real',
 'queri concern': 'real',
 'question': 'real',
 'question start': 'real',
 'quickscan': 'real',
 'quickscan present': 'real',
 'quot': 'real',
 'quotat': 'real',
 'rahul': 'real',
 'rai': 'real',
 'rakesh': 'real',
 'rakesh joshi': 'real',
 'rate': 'real',
 'ravi': 'real',
 'rd': 'real',
 'reach': 'real',
 'reach phone': 'real',
 'reachabl': 'real',
 'readi': 'real',
 'real': 'real',
 'reason': 'real',
 'receipt': 'real',
 'receipt find': 'real',
 'receiv': 'real',
 'record': 'real',
 'refer': 'real',
 'refer discuss': 'real',
 'refer feel': 'real',
 'refer request': 'real',
 'refer send': 'real',
 'refund': 'real',
 'registr': 'real',
 'registr refer': 'real',
 'reject': 'real',
 'relat': 'real',
 'relationship': 'real',
 'relationship contact': 'real',
 'relea': 'real',
 'relea po': 'real',
 'remind': 'real',
 'remind previous': 'real',
 'renew': 'real',
 'renew process': 'real',
 'renew servic': 'real',
 'repli': 'real',
 'repli weâv': 'real',
 'report': 'real',
 'report structur': 'real',
 'request': 'real',
 'request confirm': 'real',
 'request let': 'real',
 'request relea': 'real',
 'request send': 'real',
 'request share': 'real',
 'request transfer': 'real',
 'requir': 'real',
 'requir look': 'real',
 'resend': 'real',
 'resolv': 'real',
 'respect': 'real',
 'respect relationship': 'real',
 'respon': 'real',
 'respon client': 'real',
 'respon drop': 'real',
 'respon ekta': 'real',
 'respond': 'real',
 'return': 'real',
 'revert': 'real',
 'revi': 'real',
 'revi proforma': 'real',
 'right': 'real',
 'ring': 'real',
 'rinki': 'real',
 'rinki prajapati': 'real',
 'road': 'real',
 'road andheri': 'real',
 'road wor': 'real',
 'rs': 'real',
 'rs date': 'real',
 'rtgsneft': 'real',
 'rtgsneft ifsc': 'real',
 'run': 'real',
 'run need': 'real',
 'sachin': 'real',
 'sahakari': 'real',
 'sahakari bank': 'real',
 'sale': 'real',
 'sale bangalor': 'real',
 'sale forc': 'real',
 'sale quantumlink': 'real',
 'sale team': 'real',
 'sale tel': 'real',
 'salesahmedabadqlcin': 'real',
 'salesmumbaiqlcin': 'real',
 'salesmumbaiqlcin accountsreceivableqlcin': 'real',
 'salesnorthqlcin': 'real',
 'salesnorthqlcin visit': 'real',
 'saleswestqlcin': 'real',
 'salunkh': 'real',
 'sandeep': 'real',
 'sandip': 'real',
 'sandoz': 'real',
 'sandoz hous': 'real',
 'sanjay': 'real',
 'sanjeev': 'real',
 'santosh': 'real',
 'saturday': 'real',
 'scan': 'real',
 'scan copi': 'real',
 'schedul': 'real',
 'secur': 'real',
 'send': 'real',
 'send confirm': 'real',
 'sent': 'real',
 'sep': 'real',
 'sequel': 'real',
 'sequel discuss': 'real',
 'serv': 'real',
 'server': 'real',
 'servic': 'real',
 'servic queri': 'real',
 'servic tax': 'real',
 'servic thank': 'real',
 'set': 'real',
 'setup': 'real',
 'setup train': 'real',
 'shahi': 'real',
 'shaikh': 'real',
 'share': 'real',
 'share commerci': 'real',
 'share detail': 'real',
 'share gst': 'real',
 'sharma': 'real',
 'sheet': 'real',
 'shirol': 'real',
 'shirol hous': 'real',
 'shown': 'real',
 'shreepal': 'real',
 'shreepal complex': 'real',
 'sign': 'real',
 'silver': 'real',
 'singh': 'real',
 'slam': 'real',
 'slam entri': 'real',
 'slamentri': 'real',
 'slamentri ad': 'real',
 'slamentri creat': 'real',
 'softwar': 'real',
 'solut': 'real',
 'soon': 'real',
 'speak': 'real',
 'special': 'real',
 'spoke': 'real',
 'spoken': 'real',
 'spr': 'real',
 'sr': 'real',
 'st': 'real',
 'st floor': 'real',
 'staff': 'real',
 'standard': 'real',
 'standard price': 'real',
 'start': 'real',
 'start evalu': 'real',
 'start weâr': 'real',
 'station': 'real',
 'status': 'real',
 'stmumdiv': 'real',
 'stmumdiv iiimr': 'real',
 'stop': 'real',
 'streamlin': 'real',
 'streamlin field': 'real',
 'structur': 'real',
 'subject': 'real',
 'submit': 'real',
 'success': 'real',
 'suggest': 'real',
 'sumit': 'real',
 'support': 'real',
 'support id': 'real',
 'support respect': 'real',
 'support support': 'real',
 'support team': 'real',
 'supportqlcin': 'real',
 'suren': 'real',
 'suren road': 'real',
 'switch': 'real',
 'system': 'real',
 'taken': 'real',
 'talk': 'real',
 'tax': 'real',
 'tax applic': 'real',
 'tax extra': 'real',
 'tax gst': 'real',
 'tax invoic': 'real',
 'tax stmumdiv': 'real',
 'team': 'real',
 'team arrang': 'real',
 'team find': 'real',
 'team member': 'real',
 'team process': 'real',
 'tech': 'real',
 'tech support': 'real',
 'technic': 'real',
 'technolog': 'real',
 'tel': 'real',
 'tel ext': 'real',
 'telecon': 'real',
 'telephon': 'real',
 'term': 'real',
 'term advanc': 'real',
 'term condit': 'real',
 'test': 'real',
 'th': 'real',
 'th feb': 'real',
 'th jan': 'real',
 'th june': 'real',
 'thank': 'real',
 'thank best': 'real',
 'thank interest': 'real',
 'thank valuabl': 'real',
 'think': 'real',
 'till': 'real',
 'till th': 'real',
 'time': 'real',
 'time discuss': 'real',
 'time respond': 'real',
 'time setup': 'real',
 'today': 'real',
 'today pm': 'real',
 'told': 'real',
 'told share': 'real',
 'tomorrow': 'real',
 'tomorrow pm': 'real',
 'total': 'real',
 'touch': 'real',
 'touch await': 'real',
 'touch delight': 'real',
 'touch look': 'real',
 'touch thank': 'real',
 'track': 'real',
 'trail': 'real',
 'train': 'real',
 'train annual': 'real',
 'transfer': 'real',
 'transfer fund': 'real',
 'travel': 'real',
 'tri': 'real',
 'tri connect': 'real',
 'tri contact': 'real',
 'tri reach': 'real',
 'trial': 'real',
 'trust': 'real',
 'trust account': 'real',
 'tuesday': 'real',
 'twice': 'real',
 'type': 'real',
 'u': 'real',
 'unabl': 'real',
 'unabl reach': 'real',
 'understand': 'real',
 'updat': 'real',
 'upgrad': 'real',
 'upload': 'real',
 'use': 'real',
 'user': 'real',

In [29]:
h2o_train_df['OpportunityStageName'] = h2o_train_df['OpportunityStageName'].asfactor()
h2o_test_df['OpportunityStageName'] = h2o_test_df['OpportunityStageName'].asfactor()

In [30]:
aml = H2OAutoML(max_models = 5, seed = 10, exclude_algos = ["StackedEnsemble"], verbosity="info", nfolds=0, balance_classes=True, max_after_balance_size=0.3)

here i have set it to use top 10 models

In [31]:
x=vectorizer_tf.get_feature_names()
y='OpportunityStageName'

In [32]:
aml.train(x = x, y = y, training_frame = h2o_train_df, validation_frame=h2o_test_df)

AutoML progress: |
10:13:11.846: Project: AutoML_20210225_101311843
10:13:11.847: Cross-validation disabled by user: no fold column nor nfolds > 1.
10:13:11.853: Setting stopping tolerance adaptively based on the training frame: 0.005002001200800561
10:13:11.853: Build control seed: 10
10:13:11.853: Since cross-validation is disabled, and no leaderboard frame was provided, automatically split the training data into training and leaderboard frames in the ratio 90/10
10:13:15.588: training frame: Frame key: automl_training_py_1_sid_83bb    cols: 1005    rows: 35899  chunks: 41    size: 8747517  checksum: -9041490233139546984
10:13:15.591: validation frame: Frame key: py_2_sid_83bb    cols: 1005    rows: 9993  chunks: 11    size: 2370269  checksum: -5356998711068300942
10:13:15.902: leaderboard frame: Frame key: automl_leaderboard_py_1_sid_83bb    cols: 1005    rows: 4069  chunks: 41    size: 3849723  checksum: 1847102335573993059
10:13:15.902: blending frame: NULL
10:13:15.902: response column: OpportunityStageName
10:13:15.902: fold column: null
10:13:15.902: weights column: null
10:13:15.938: Loading execution steps: [{XGBoost : defaults}, {GLM : defaults}, {DRF : [def_1]}, {GBM : defaults}, {DeepLearning : defaults}, {DRF : [XRT]}, {XGBoost : grids}, {GBM : grids}, {DeepLearning : grids}, {GBM : [lr_annealing]}, {XGBoost : [lr_search]}, {StackedEnsemble : defaults}]
10:13:15.952: Disabling Algo: StackedEnsemble as requested by the user.
10:13:15.955: AutoML job created: 2021.02.25 10:13:11.842
10:13:15.956: AutoML build started: 2021.02.25 10:13:15.956
10:13:15.962: AutoML: starting XGBoost_1_AutoML_20210225_101311 model training

██
10:17:22.74: New leader: XGBoost_1_AutoML_20210225_101311, mean_per_class_error: 0.7720041848801241
10:17:22.75: AutoML: starting XGBoost_2_AutoML_20210225_101311 model training

████████████████████████████████
10:22:00.830: AutoML: starting XGBoost_3_AutoML_20210225_101311 model training

█████
10:23:27.258: AutoML: starting GLM_1_AutoML_20210225_101311 model training

███████
10:26:29.360: AutoML: starting DRF_1_AutoML_20210225_101311 model training


10:28:21.943: AutoML: starting GBM_1_AutoML_20210225_101311 model training

██████
10:32:53.549: AutoML: starting GBM_2_AutoML_20210225_101311 model training

██
10:38:29.219: AutoML: starting GBM_3_AutoML_20210225_101311 model training

█
10:44:39.825: AutoML: starting GBM_4_AutoML_20210225_101311 model training


10:51:55.434: AutoML: starting GBM_5_AutoML_20210225_101311 model training

█
11:16:25.53: Skipping StackedEnsemble 'best' due to the exclude_algos option.
11:16:25.56: Skipping StackedEnsemble 'all' due to the exclude_algos option.
11:16:25.58: Skipping StackedEnsemble 'monotonic' due to the exclude_algos option.
11:16:25.58: Actual modeling steps: [{XGBoost : [def_1 (10), def_2 (10), def_3 (10)]}, {GLM : [def_1 (10)]}, {DRF : [def_1 (10)]}, {GBM : [def_1 (10), def_2 (10), def_3 (10), def_4 (10), def_5 (10)]}]
11:16:25.58: AutoML build stopped: 2021.02.25 11:16:25.58
11:16:25.58: AutoML build done: built 10 models
11:16:25.58: AutoML duration:  1:03:09.102

| 100%

Works best with XGBoost

In [52]:
aml.leaderboard

model_id,mean_per_class_error,logloss,rmse,mse,auc,aucpr
XGBoost_1_AutoML_20210225_101311,0.772004,0.924413,0.542064,0.293833,nan,nan
XGBoost_2_AutoML_20210225_101311,0.785972,0.921407,0.537839,0.289271,nan,nan
XGBoost_3_AutoML_20210225_101311,0.797357,0.972964,0.56577,0.320095,nan,nan
GLM_1_AutoML_20210225_101311,0.818008,1.02997,0.576233,0.332045,nan,nan
GBM_5_AutoML_20210225_101311,0.831116,1.138,0.607034,0.368491,nan,nan
GBM_4_AutoML_20210225_101311,0.83743,1.1167,0.605952,0.367178,nan,nan
GBM_3_AutoML_20210225_101311,0.838125,1.11248,0.606861,0.36828,nan,nan
GBM_2_AutoML_20210225_101311,0.839419,1.12678,0.609873,0.371945,nan,nan
GBM_1_AutoML_20210225_101311,0.84529,1.13214,0.615418,0.378739,nan,nan
DRF_1_AutoML_20210225_101311,0.856849,1.12267,0.615578,0.378936,nan,nan

In [34]:
pred=aml.leader.predict(h2o_test_df)

xgboost prediction progress: |████████████████████████████████████████████| 100%

In [35]:
aml.leader.model_performance(h2o_test_df)

ModelMetricsMultinomial: xgboost
** Reported on test data. **

MSE: 0.28112500333670165
RMSE: 0.5302122248088039
LogLoss: 0.8883926391907868
Mean Per-Class Error: 0.74420768945227
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

         0     1     2       3    4  ...      8      9   10     Error           Rate
0   4821.0   2.0  15.0   360.0  0.0  ...   63.0   94.0  0.0  0.099720    534 / 5,355
1     21.0  10.0   0.0     2.0  0.0  ...    2.0    2.0  0.0  0.729730        27 / 37
2    210.0   0.0  50.0    53.0  0.0  ...    2.0   22.0  0.0  0.851632      287 / 337
3    900.0   0.0   3.0  1400.0  0.0  ...   36.0   17.0  0.0  0.405772    956 / 2,356
4     20.0   0.0   0.0     0.0  0.0  ...    1.0    1.0  0.0  1.000000        22 / 22
5     25.0   0.0   1.0     7.0  0.0  ...    0.0    2.0  0.0  0.833333        35 / 42
6      4.0   0.0   0.0     1.0  0.0  ...    0.0    0.0  0.0  1.000000          5 / 5
7      9.0   0.0   0.0     1.0  0.0  ...    0.0    1.0  0.0  1.000000        11 / 11
8    430.0   0.0   2.0    93.0  0.0  ...  449.0    6.0  0.0  0.541837      531 / 980
9    565.0   0.0   3.0    30.0  0.0  ...   14.0  233.0  0.0  0.724260      612 / 845
10     3.0   0.0   0.0     0.0  0.0  ...    0.0    0.0  0.0  1.000000          3 / 3
11  7008.0  12.0  74.0  1947.0  0.0  ...  567.0  378.0  0.0  0.302512  3,023 / 9,993

[12 rows x 13 columns]

Top-10 Hit Ratios:

    k  hit_ratio
0   1   0.697488
1   2   0.870009
2   3   0.939157
3   4   0.973181
4   5   0.991794
5   6   0.996598
6   7   0.998499
7   8   0.999199
8   9   0.999700
9  10   1.000000

In [36]:
model_ids = list(aml.leaderboard['model_id'].as_data_frame().iloc[:,0])
out = h2o.get_model([mid for mid in model_ids if "XGBoost" in mid][0])
out

Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_1_AutoML_20210225_101311


Model Summary:

     number_of_trees
0              185.0

ModelMetricsMultinomial: xgboost
** Reported on train data. **

MSE: 0.22351368834280275
RMSE: 0.4727723430392293
LogLoss: 0.6908092260604822
Mean Per-Class Error: 0.6708777929266566
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

          0     1      2       3  ...       9   10     Error            Rate
0   18046.0   2.0   15.0   687.0  ...   175.0  0.0  0.053349  1,017 / 19,063
1      81.0  41.0    0.0     4.0  ...     1.0  0.0  0.679688        87 / 128
2     719.0   0.0  425.0   103.0  ...    50.0  0.0  0.674579     881 / 1,306
3    2488.0   0.0    5.0  6021.0  ...    59.0  0.0  0.305055   2,643 / 8,664
4      59.0   0.0    0.0     4.0  ...     1.0  0.0  0.956522         66 / 69
5      78.0   0.0    2.0     8.0  ...     8.0  0.0  0.664474       101 / 152
6      17.0   0.0    0.0     3.0  ...     0.0  0.0  1.000000         20 / 20
7      30.0   0.0    0.0     1.0  ...     1.0  0.0  1.000000         33 / 33
8    1258.0   0.0    1.0   202.0  ...    42.0  0.0  0.451758   1,503 / 3,327
9    1738.0   0.0    2.0    81.0  ...  1266.0  0.0  0.594231   1,854 / 3,120
10     11.0   0.0    0.0     6.0  ...     0.0  0.0  1.000000         17 / 17
11  24525.0  43.0  450.0  7120.0  ...  1603.0  0.0  0.229031  8,222 / 35,899

[12 rows x 13 columns]

Top-10 Hit Ratios:

    k  hit_ratio
0   1   0.770969
1   2   0.912644
2   3   0.962701
3   4   0.984484
4   5   0.994624
5   6   0.997939
6   7   0.999220
7   8   0.999805
8   9   0.999972
9  10   1.000000

ModelMetricsMultinomial: xgboost
** Reported on validation data. **

MSE: 0.28112500333670165
RMSE: 0.5302122248088039
LogLoss: 0.8883926391907868
Mean Per-Class Error: 0.74420768945227
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

         0     1     2       3    4  ...      8      9   10     Error           Rate
0   4821.0   2.0  15.0   360.0  0.0  ...   63.0   94.0  0.0  0.099720    534 / 5,355
1     21.0  10.0   0.0     2.0  0.0  ...    2.0    2.0  0.0  0.729730        27 / 37
2    210.0   0.0  50.0    53.0  0.0  ...    2.0   22.0  0.0  0.851632      287 / 337
3    900.0   0.0   3.0  1400.0  0.0  ...   36.0   17.0  0.0  0.405772    956 / 2,356
4     20.0   0.0   0.0     0.0  0.0  ...    1.0    1.0  0.0  1.000000        22 / 22
5     25.0   0.0   1.0     7.0  0.0  ...    0.0    2.0  0.0  0.833333        35 / 42
6      4.0   0.0   0.0     1.0  0.0  ...    0.0    0.0  0.0  1.000000          5 / 5
7      9.0   0.0   0.0     1.0  0.0  ...    0.0    1.0  0.0  1.000000        11 / 11
8    430.0   0.0   2.0    93.0  0.0  ...  449.0    6.0  0.0  0.541837      531 / 980
9    565.0   0.0   3.0    30.0  0.0  ...   14.0  233.0  0.0  0.724260      612 / 845
10     3.0   0.0   0.0     0.0  0.0  ...    0.0    0.0  0.0  1.000000          3 / 3
11  7008.0  12.0  74.0  1947.0  0.0  ...  567.0  378.0  0.0  0.302512  3,023 / 9,993

[12 rows x 13 columns]

Top-10 Hit Ratios:

    k  hit_ratio
0   1   0.697488
1   2   0.870009
2   3   0.939157
3   4   0.973181
4   5   0.991794
5   6   0.996598
6   7   0.998499
7   8   0.999199
8   9   0.999700
9  10   1.000000

Scoring History:

                timestamp  ... validation_auc  validation_pr_auc
0     2021-02-25 10:13:16  ...            NaN                NaN
1     2021-02-25 10:13:23  ...            NaN                NaN
2     2021-02-25 10:13:26  ...            NaN                NaN
3     2021-02-25 10:13:29  ...            NaN                NaN
4     2021-02-25 10:13:32  ...            NaN                NaN
5     2021-02-25 10:13:35  ...            NaN                NaN
6     2021-02-25 10:13:39  ...            NaN                NaN
7     2021-02-25 10:13:42  ...            NaN                NaN
8     2021-02-25 10:13:46  ...            NaN                NaN
9     2021-02-25 10:13:50  ...            NaN                NaN
10    2021-02-25 10:13:53  ...            NaN                NaN
11    2021-02-25 10:13:58  ...            NaN                NaN
12    2021-02-25 10:14:04  ...            NaN                NaN
13    2021-02-25 10:14:09  ...            NaN                NaN
14    2021-02-25 10:14:15  ...            NaN                NaN
15    2021-02-25 10:14:21  ...            NaN                NaN
16    2021-02-25 10:14:26  ...            NaN                NaN
17    2021-02-25 10:14:32  ...            NaN                NaN
18    2021-02-25 10:14:39  ...            NaN                NaN
19    2021-02-25 10:14:44  ...            NaN                NaN

[20 rows x 14 columns]

See the whole table with table.as_data_frame()

Variable Importances:

      variable  relative_importance  scaled_importance  percentage
0       invoic          2625.674805           1.000000    0.034909
1   notrespond          1733.047974           0.660039    0.023042
2          pme          1699.460327           0.647247    0.022595
3       follow          1128.854980           0.429929    0.015009
4       fscall          1029.074097           0.391927    0.013682
5        spoke           952.276978           0.362679    0.012661
6      discuss           837.951172           0.319137    0.011141
7      confirm           775.071777           0.295190    0.010305
8       requir           774.411377           0.294938    0.010296
9         told           760.223145           0.289534    0.010107
10       renew           661.419189           0.251904    0.008794
11      client           655.127258           0.249508    0.008710
12          ms           622.259033           0.236990    0.008273
13        time           565.102722           0.215222    0.007513
14      receiv           564.562988           0.215016    0.007506
15     salunkh           563.551331           0.214631    0.007493
16         amc           543.917419           0.207153    0.007232
17        word           537.494080           0.204707    0.007146
18       share           524.962524           0.199934    0.006980
19        busi           524.692322           0.199831    0.006976

See the whole table with table.as_data_frame()

In [37]:
out.convert_H2OXGBoostParams_2_XGBoostParams()

({'alpha': 0.0,
  'booster': 'gbtree',
  'colsample_bylevel': 0.8,
  'colsample_bytree': 0.8,
  'eta': 0.3,
  'gamma': 0.0,
  'gpu_id': 0,
  'grow_policy': 'depthwise',
  'lambda': 1.0,
  'max_bin': 256,
  'max_delta_step': 0.0,
  'max_depth': 10,
  'min_child_weight': 5.0,
  'nround': 10000,
  'nthread': 2,
  'num_class': 11,
  'objective': 'multi:softprob',
  'seed': 10,
  'silent': True,
  'subsample': 0.6,
  'updater': 'grow_gpu_hist'},
 10000)

In [38]:

xgb_clf = xgb.XGBClassifier(n_estimators=100, learning_rate=0.05, max_depth=6, objective='multi:softprob', random_state=10, **{"updater": "grow_gpu"})

In [39]:

xgb_clf.fit(train_vectors, X_train['OpportunityStageName'])

[11:16:35] WARNING: /workspace/src/learner.cc:194: DANGER AHEAD: You have manually specified `updater` parameter. The `tree_method` parameter will be ignored. Incorrect sequence of updaters will produce undefined behavior. For common uses, we recommend using `tree_method` parameter instead.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.05, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=10,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, updater='grow_gpu', verbosity=1)

In [ ]:
predictions = xgb_clf.predict(test_vectors)

In [ ]:
cm = confusion_matrix(X_test['OpportunityStageName'], predictions)
print(cm)

In [ ]:
print('classification_report :\n',classification_report(X_test['OpportunityStageName'], predictions))

## Class Imbalance

In [54]:
X_train['OpportunityStageName'].value_counts()

0     21166
3      9669
8      3726
9      3475
2      1466
5       170
1       143
4        74
7        38
6        23
10       18
Name: OpportunityStageName, dtype: int64

In [43]:
from sklearn.utils import class_weight
class_weights = list(class_weight.compute_class_weight('balanced',
                                             np.unique(X_train['OpportunityStageName']),
                                             X_train['OpportunityStageName']))

In [ ]:
class_weights

In [45]:
weights = np.ones(X_train.shape[0], dtype = 'float')
weights

array([1., 1., 1., ..., 1., 1., 1.])

In [46]:
for i, val in enumerate(X_train['OpportunityStageName']):
    weights[i] = class_weights[val]

weights

array([0.17166468, 0.97516225, 2.47848195, ..., 0.17166468, 0.3757839 ,
       0.17166468])

In [47]:
xgb_clf = xgb.XGBClassifier(n_estimators=100, learning_rate=0.05, max_depth=6, objective='multi:softprob', random_state=10, **{"updater": "grow_gpu"})

In [48]:
xgb_clf.fit(train_vectors, X_train['OpportunityStageName'], sample_weight=weights)

[11:16:45] WARNING: /workspace/src/learner.cc:194: DANGER AHEAD: You have manually specified `updater` parameter. The `tree_method` parameter will be ignored. Incorrect sequence of updaters will produce undefined behavior. For common uses, we recommend using `tree_method` parameter instead.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.05, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=10,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, updater='grow_gpu', verbosity=1)

In [ ]:
predictions = xgb_clf.predict(test_vectors)

In [ ]:
cm = confusion_matrix(X_test['OpportunityStageName'], predictions)
print(cm)

In [51]:
print('classification_report :\n',classification_report(X_test['OpportunityStageName'], predictions))

classification_report :
               precision    recall  f1-score   support

           0       0.75      0.32      0.45      5355
           1       0.04      0.68      0.08        37
           2       0.12      0.44      0.19       337
           3       0.61      0.52      0.56      2356
           4       0.02      0.50      0.03        22
           5       0.10      0.55      0.17        42
           6       0.01      1.00      0.03         5
           7       0.01      0.18      0.02        11
           8       0.42      0.49      0.45       980
           9       0.30      0.42      0.35       845
          10       0.01      0.33      0.01         3

    accuracy                           0.40      9993
   macro avg       0.22      0.49      0.21      9993
weighted avg       0.61      0.40      0.45      9993

classification_report :
               precision    recall  f1-score   support

           0       0.75      0.32      0.45      5355
           1       0.04      0.68      0.08        37
           2       0.12      0.44      0.19       337
           3       0.61      0.52      0.56      2356
           4       0.02      0.50      0.03        22
           5       0.10      0.55      0.17        42
           6       0.01      1.00      0.03         5
           7       0.01      0.18      0.02        11
           8       0.42      0.49      0.45       980
           9       0.30      0.42      0.35       845
          10       0.01      0.33      0.01         3

    accuracy                           0.40      9993
   macro avg       0.22      0.49      0.21      9993
weighted avg       0.61      0.40      0.45      9993